:root {
    --title-color: #4D5AE5;
    --first-color: #2e2f42;
    --second-color: #FFFFFF;
    --third-color: #434455;
    --background-color: #2E2F42;
    --background-color-btn: #F4F4FD;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #FFFFFF;
    color: #434455;
    font-style: normal;

}

/* header */
.navigation {}

.page-logo {
    font-family: "Raleway", sans-serif;
    color: var(--title-color);

    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}

.page-logo span {
    color: var(--first-color);
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}



.navigation-list {}

.navigation-item {}

.navigation-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--first-color);
}

.navigation-link:hover,
.navigation-link:focus {
    color: #404BBF;
}

.address {
    font-style: normal
}

.address-list {}

.address-item {}

.address-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--third-color);
}

.address-link:hover,
.address-link:focus {
    color: #404BBF;
}

/*  hero section */
.hero {
    background: var(--background-color);
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--second-color);

}

.hero-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--second-color);
    background: #4D5AE5;
    cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF;
}

/* section-advantages */
.advantages {}

.advantages-title {
    color: var(--first-color);
}

.advantages-list {}

.advantages-item {}

.advantages-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.advantages-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    ;
}

/* products  */
.products {}

.products-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--first-color);
}

.products-list {}

.products-item {}

/* team */
.team {
    background-color: #F4F4FD;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--first-color);
}

.team-list {}

.team-item {
    background-color: #FFFFFF;
}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;

}

/* footer */
.footer {
    background-color: var(--background-color);
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}

/* portfolio */
.portfolio-list {}

.portfolio-item {}

.portfolio-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--title-color);
    background-color: var(--background-color-btn);
    cursor: pointer;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    color: #FFFFFF;
    background-color: #404BBF;
}

/* options */
.option {}

.option-item {}

.option-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--background-color);
}

.option-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}